<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mrm.eventapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EventApp</name>
    <description>
        App mobile para compartir fotos en eventos de Facebook.
    </description>
    <author email="pablo.galano@mrm-mccann.com" href="http://mrm.com.ar/">
        MRM-McCann Argentina - Buenos Aires
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
